.body {
    background: black;
    background-color: #52b2ff;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width:970px;
    background-color: orange;
}

.friendH{
position: relative;
}
.container-home {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width:570px;
    background-color: orange;
    background-color: #52b2ff;
    padding: 2em;
}

.container p{
        
        width:970px;
        background-color: #52b2ff;
}

#surveyTitle {
    font-size:55px;
}

.surveyBtn {
    font-size: 20px;
}
.chosen-container {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    width: 156px;
    
}
    
.chosen-container-single .chosen-single span {
    display: block;
    overflow: hidden;
    margin-right: 26px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.select {
    position: absolute;
    overflow: hidden;
    display: block;
    margin: auto;
    width: 330px;
    height: 100%;
    border-bottom: 5px;
    border-radius: 3px;
    font-size: 12px;
    box-shadow: 0px 1em 2em -1.5em rgba(0, 0, 0, .5);
}

